header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(203, 161, 243);
  margin: 0;
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(161, 213, 243);
}
button {
  margin: 20px;
  font-family: inherit;
  width: auto;
  letter-spacing: 1px;
  cursor: pointer;
  outline: 0;
  font-weight: 200;
  font-size: 20px;
  background-color: rgba(221, 196, 245, 1);
}
#explore {
  border: 1px solid black;
  align-self: center;
  padding: 13px 50px 13px;
  position: relative;
}

#explore:hover {
  background-color: rgba(221, 196, 245, 0.5);
}

div {
  display: flex;
  position: sticky;
  float: right;
  bottom: 5px;
}

.top {
  margin: 1rem;
  padding-top: 4px;
  padding: auto;
  width: 2rem;
  border: 1px solid;
}
